
*{
    scrollbar-width: none;
}
body{
    margin:0;
    padding:0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
div.design{
    border-radius: 4px;
   box-shadow:0 0 4px #000000, inset -2px -2px 2px #111111;
    width:680px;
    height: 512px;
  margin-left:2vw;
  padding-left: 16px;
    margin-top: 64px;
margin-bottom: 32px;
    padding-top: 40px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 192px 400px 128px;
    grid-template-rows: repeat(8, 48px);
    flex-direction: column;
}
div.design>a{
    font-size: 14pt;
    text-align:start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 6px;
}
div.design>input[type="text"],
div.design>input[type="number"],
div.design>input[type="color"],
textarea{
    font-family: Helvetica;
    height:32px;
    font-size: 14pt;
}
textarea{
    z-index:100;
}
div.design>input[type="color"]{
    margin-left: 8px;
}

div.screen{
    cursor: none;
    height:100vh;
    width: 100%;
    background-color:#0177d7;
    overflow: hidden;
    
}
div.screen>h1{
    margin-top:240px;
    color:#fff;
    margin-left:8vw;
    font-family:  '微软雅黑';
    font-weight: normal;
    font-size: 160pt;
    line-height: 12pt;
}
div.screen>h2{
    color:#fff;
    margin-left:8vw;
    font-family:  '微软雅黑';
    font-weight: normal;
    font-size: 28pt;
}
div.screen .section2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
div.screen .section2>img{
    height:200px;
    width: 200px;
    margin-left:8vw;
    display: inline;
    background-color:transparent;
}
div.screen .section2 .tsection2{
    color:#fff;
    margin-left:16px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.6fr 1fr 1fr 1.6fr;
}
div.screen .section2 .tsection2>a{
    font-family:  '微软雅黑';
    font-weight: normal;
}